@model SaffronHotelAdminManagement_MVC4.Floor
@{
    ViewBag.Title = "FloorCreate";
    Layout = "~/Views/Shared/Outer_LayoutPage.cshtml";
}

<script>
    function validateNumberSize() {
        var inputtxt = document.getElementById('floorNo').value;
        var temp = document.getElementById('floorNo');
        var numbers = /^[0-9]+$/;
        if (inputtxt.match(numbers)) {
            if (inputtxt >= 1 && inputtxt <= 4) {
                return true;
            }
            else {
                alert('Allowed only 1 to 4');
                temp.setAttribute("style", "border-color: red");
                return false;
            }
        }
        else {
            alert('Please enter valid value');
            temp.setAttribute("style", "border-color: red");
            return false;
        }
    }
    function validateNumberSizeStyle() {
        var inputtxt = document.getElementById('floorNo').value;
        var temp=document.getElementById('floorNo');
        var numbers = /^[0-9]+$/;
        if (inputtxt.match(numbers)) {
            if (inputtxt >= 1 || inputtxt <= 4) {
                return true;
            }
            else {
                alert('Allowed only 1 to 4');
                temp.setAttribute("style", "border-color: red");
                return false;
            }
        }
        else {
            //alert('Please enter valid value');
            return false;
        }
    }
</script>


<script type="text/javascript">
    jQuery(window).load(function () {
        //jQuery("#status").fadeOut();
        jQuery("#preloader").delay(1800).fadeOut("slow");
    })
</script>

<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<div class="wthree_agile_admin_info">
    <!-- /w3_agileits_top_nav-->
    <!-- /nav-->
    <!-- //w3_agileits_top_nav-->
    <!-- /inner_content-->
    <div class="inner_content">
        <!-- /inner_content_w3_agile_info-->
        <!-- breadcrumbs -->
      
        <!-- //breadcrumbs -->

        <div class="inner_content_w3_agile_info two_in">
            @*<h2 class="w3_inner_tittle">Inputs</h2>*@

            <!--/forms-->
            <div class="forms-main_agileits">

                <!--/forms-inner-->
                <div class="forms-inner">

                    <div class="wthree_general">


                        <div class="grid-1 graph-form agile_info_shadow">
                            <h3 class="w3_inner_tittle two">Add Floor Here</h3>
                            @if (ViewBag.errorMsg != null)
                            {
                                <span style="color:#ff3333;font-family:sans-serif;letter-spacing:1px;">@ViewBag.errorMsg</span>
                            }
                            <form class="form-horizontal" action="#" method="post">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Floor Number</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            @*<span class="input-group-addon">
                                                    <i class="fa></i>
                                                </span>*@
                                            <input type="text" min="1" max="4" id="floorNo" style="width:100px;" name="floorno" class="form-control1 icon" @*onkeyup="validateNumberSizeStyle()"*@ oninput="validateNumberSizeStyle()" @*onchange="validateNumberSizeStyle()"*@ required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-offset-2">
                                    <input type="submit" value="Add" class="frmButton" onclick="return validateNumberSize()" />
                                    <a href="@Url.Action("FloorInformation","Admin")" class="btn btn-default">
                                        Back
                                    </a>
                                </div>
                            </form>

                        </div>
                    </div>

                    <!--//set-4-->
                </div>
                <!--//forms-inner-->
            </div>
        </div>
        <!-- //inner_content_w3_agile_info-->
    </div>
    <!-- //inner_content-->
</div>
