@model SaffronHotelAdminManagement_MVC4.TableType
@{
    ViewBag.Title = "TableTypeView";
    Layout = "~/Views/Shared/Outer_LayoutPage.cshtml";
}



<script type="text/javascript">
    jQuery(window).load(function () {
        //jQuery("#status").fadeOut();
        jQuery("#preloader").delay(1800).fadeOut("slow");
    })
</script>

<div id="preloader">
    <div id="status">&nbsp;</div>
</div>


<div class="wthree_agile_admin_info">
    <!-- /w3_agileits_top_nav-->
    <!-- /nav-->
    <!-- //w3_agileits_top_nav-->
    <!-- /inner_content-->
    <div class="inner_content">
        <!-- /inner_content_w3_agile_info-->
        <!-- breadcrumbs -->
       
        <!-- //breadcrumbs -->

        <div class="inner_content_w3_agile_info two_in">
            @*<h2 class="w3_inner_tittle">Inputs</h2>*@

            <!--/forms-->
            <div class="forms-main_agileits">

                <!--/forms-inner-->
                <div class="forms-inner">

                    <div class="wthree_general">


                        <div class="grid-1 graph-form agile_info_shadow">
                            <h3 class="w3_inner_tittle two">Edit Table Type </h3>
                            @if (ViewBag.errorMsg != null)
                            {
                                <span style="color:#ff3333;font-family:sans-serif;letter-spacing:1px;">@ViewBag.errorMsg</span>
                            }
                            <form class="form-horizontal" method="post">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Table Type Name</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-table"></i>
                                            </span>
                                            <input type="text" name="tableType" value="@Model.TableName" class="form-control1 icon" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-offset-2">
                                    <input type="submit" value="Update" class="frmButton" />
                                    <a href="@Url.Action("TableTypeInformation","Admin")" class="btn btn-default">
                                        Back
                                    </a>
                                </div>

                            </form>

                        </div>
                    </div>

                    <!--//set-4-->
                </div>
                <!--//forms-inner-->
            </div>
        </div>
        <!-- //inner_content_w3_agile_info-->
    </div>
    <!-- //inner_content-->
</div>

