@{
    ViewBag.Title = "VendorCreate";
    Layout = "~/Views/Shared/Outer_LayoutPage.cshtml";
}
<script>
    function check() {
        var pass1 = document.getElementById('mnumber').value;


        //var message = document.getElementById('message');

        var goodColor = "#0C6";
        var badColor = "#FF9B37";

        if (pass1.length != 10) {
            mobile.style.backgroundColor = badColor;
            return false;
            //message.style.color = badColor;
            //message.innerHTML = "required 10 digits, match requested format!"
        }
        else
        {
            return true;
        }
    }
</script>





<script type="text/javascript">
    jQuery(window).load(function () {
        //jQuery("#status").fadeOut();
        jQuery("#preloader").delay(1800).fadeOut("slow");
    })
</script>

<div id="preloader">
    <div id="status">&nbsp;</div>
</div>


<div class="wthree_agile_admin_info">
    <!-- /w3_agileits_top_nav-->
    <!-- /nav-->
    <!-- //w3_agileits_top_nav-->
    <!-- /inner_content-->
    <div class="inner_content">
        <!-- /inner_content_w3_agile_info-->
        <!-- breadcrumbs -->
        
        <!-- //breadcrumbs -->

        <div class="inner_content_w3_agile_info two_in">
            @*<h2 class="w3_inner_tittle">Inputs</h2>*@

            <!--/forms-->
            <div class="forms-main_agileits">

                <!--/forms-inner-->
                <div class="forms-inner">

                    <div class="wthree_general">


                        <div class="grid-1 graph-form agile_info_shadow">
                            <h3 class="w3_inner_tittle two">Vendor Create</h3>
                            @if (ViewBag.errorMsg != null)
                            {
                                <span style="color:#ff3333;font-family:sans-serif;letter-spacing:1px;">@ViewBag.errorMsg</span>
                            }
                            <form class="form-horizontal" method="post">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Vendor Name</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user-md"></i>
                                                </span>
                                                <input type="text" name="name" class="form-control1 icon" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">City</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-building-o"></i>
                                                </span>
                                                <input type="text" name="city" class="form-control1 icon" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Mobile Number</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-mobile-phone"></i>
                                                </span>
                                                <input type="number" name="mnumber" id="mnumber" min="" max="" class="form-control1 icon" required="" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">GST Number</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-circle"></i>
                                                </span>
                                                <input type="number" name="gnumber" class="form-control1 icon" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Email</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope-o"></i>
                                                </span>
                                                <input type="email" name="email" class="form-control1 icon" required="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group1 has-feedback" style="box-shadow:none !important">
                                        <label class="col-md-2 control-label">Address</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <span @*class="input-group-addon"*@>
                                                    @*<i class="fa "></i>*@
                                                </span>
                                                <textarea name="address" style="width:320px;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-offset-2">
                                    <input type="submit" value="Save" class="frmButton" onclick="return check();" />
                                    <a href="@Url.Action("VendorInformation","Admin")" class="btn btn-default">
                                        Back
                                    </a>
                                </div>
                            </form>

                        </div>
                    </div>

                    <!--//set-4-->
                </div>
                <!--//forms-inner-->
            </div>
        </div>
        <!-- //inner_content_w3_agile_info-->
    </div>
    <!-- //inner_content-->
</div>

